* {
    font-family: "CubicEmpireRE", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    background-color: #012d48;
    background-image:   url(resourses/backgrounds/back_6.svg),
                        url(resourses/backgrounds/back_5.svg),
                        url(resourses/backgrounds/back_4.svg),
                        url(resourses/backgrounds/back_3.svg),
                        url(resourses/backgrounds/back_2.svg),
                        url(resourses/backgrounds/back_1.svg);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top 1001px left, top 959px left, top 521px left, top 260px left, top 359px left, top -2px left;
}

input {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fields-form {
    background-color: #012d48;
}

.fields-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}

.login-form .logo {
    margin: 0;
    margin-top: 10px;
}

.login-form h2 {
    color: #f2c029;
    font-weight: normal;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-form .fields-form .email input,
.login-form .fields-form .password input {
    width: 268px;
    min-height: 34px;
    margin-top: 40px;
    padding-left: 10px;
    background-color: #083a59;
    border: none;
    color: white;
}

.login-form .fields-form .password input {
    margin-top: 20px;
}

.login-form .fields-form .remember {
    margin: 30px 0;
    align-self: flex-start;
}

.login-form .fields-form .remember label {
    color: white;
}

.login-form .fields-form .registration-button p a {
    text-decoration: none;
    color: white;
}

.login-form .fields-form .reset-password p {
    color: white;
    font-size: 12px;
    margin: 20px 0;
}

.login-form .fields-form .reset-password p a {
    display: inline;
    color: #f2c029;
    text-decoration: none;
    border-bottom: 1px solid #f2c029;
}

.login-form .fields-form .login-submit input {
    width: 268px;
    color: #f2c029;
    background-color: #083a59;
    border: none;
    padding: 20px 60px;
    font-size: 16px;
}

.login-form .fields-form .registration-button {
    margin: 20px;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.socials .social-btn {
    margin-right: 30px;
}

.socials .social-btn:last-child {
    margin-right: 0px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #083a59;
    background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
    border-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

header li,
header a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.header-nav {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-top: -70px;
    position: fixed;
}

.header-logo {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

.menu-links, .auth-links {
    list-style: none;
}

.menu-links li,
.auth-links li {
    display: inline-block;
    padding: 0 15px;
}

.menu-links li a,
.auth-links li a {
    transition: all 0.3s ease 0s;
}

.menu-links li a:hover,
.auth-links li a:hover {
    color: #f2c029;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.title h1 {
    margin-bottom: 10px;
}

.description p {
    width: 620px;
    margin: 0 auto;
    margin-top: 150px;
    color: white;
    font-size: 18px;
    line-height: 28px;
}

.splitter img{
    display: flex;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    margin-top: 550px;
    margin-bottom: 80px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-items: center;
    grid-auto-flow: dense;
    grid-gap: 40px;
    margin: 0 15%;
    margin-bottom: 300px;
}

.news-container .news-item-4 {
    grid-column: span 2;
}

.news-container-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.news-container .news-item {
    width: 100%;
    align-self: center;
}

.news-container .news-item figure {
    display: inline-block;
    position: relative;
}

.news-container .news-item figure img {
    display: block;
    height: auto;
    min-width: 100%;
    width: 100%;
}

.news-container .news-item figcaption {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.news-container .news-item figcaption span {
    font-size: 14px;
    color: white;
}

.news-container .news-item .news-description {
    color: white;
}

.news-container .news-item .news-description p {
    display: -webkit-box;
    width: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.news-container .news-item .news-description .news-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px;
}

footer {
    background-color: #002840;
}

footer .footer-logo {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    margin: 0 auto;
    padding: 30px;
}

.socials-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials-footer .social-item {
    margin-right: 40px;
}

.socials-footer .social-item:last-child {
    margin-right: 0;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 900px) {
    .header-nav {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .splitter img {
        width: 70%;
        height: 70%;
        display: flex;
        margin: 0 auto;
        margin-top: 550px;
        margin-bottom: 50px;
    }

    .news-container {
        display: flex;
        flex-direction: column;
    }

    .news-container .news-item {
        margin-bottom: 40px;
    }

    .news-container .news-item:last-child {
        margin-bottom: 0;
    }

    .news-container .news-item figure {
        width: 100%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1230px) {
    .news-container .news-item .news-description {
        width: 344px;
    }

    .news-container .news-item-4 .news-description {
        width: 688px;
    }
}

@font-face {
font-family: "CubicEmpireRE";
src: url("fonts/cere.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}