body {
    font-family: CubicEmpireRE, serif;
    background-image:   url("resources/backgrounds/back-full.png"),
                        linear-gradient(#1a6fa3 20%, #012d48 20%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center, top center;
}

@media screen and (min-width: 300px) and (max-width: 450px){
    body {
        background-position: top 250px center, center;
    }
}

@media screen and (min-width: 450px) and (max-width: 600px){
    body {
        background-position: top 220px center, center;
    }
}

@media screen and (min-width: 600px) and (max-width: 750px){
    body {
        background-position: top 200px center, center;
    }
}

@media screen and (min-width: 750px) and (max-width: 900px){
    body {
        background-position: top 180px center, center;
    }
}

@media screen and (min-width: 900px) and (max-width: 1050px){
    body {
        background-position: top 160px center, center;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1200px){
    body {
        background-position: top 120px center, center;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1350px){
    body {
        background-position: top 80px center, center;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1500px){
    body {
        background-position: top 40px center, center;
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

@media screen and (min-width: 768px) {
    .navbar-collapse {
        max-width: 70%;
        margin: 0 auto;
    }
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item a {
    color: #ffffff;
    font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item a {
        font-size: 14px;
    }

    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
        margin-right: 0.50rem !important;
    }

    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:last-child {
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item a {
        font-size: 18px;
    }
    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
        margin-right: 1.0rem !important;
    }

    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:last-child {
        margin-right: 0 !important;
    }
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item a:hover {
    color: #f2c029;
}

.navbar .container-fluid .navbar-collapse .navbar-nav {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 767px){
    .navbar .container-fluid .navbar-collapse .navbar-nav {
        padding-left: 0.75rem;
    }
}

@media screen and (max-width: 767px){
    .navbar .container-fluid .navbar-collapse .navbar-nav:first-child {
        margin-top: 10px;
    }

    .navbar .container-fluid .navbar-collapse .navbar-nav {
        margin-bottom: 30px;
    }

    .navbar .container-fluid .navbar-collapse .navbar-nav:last-child {
        margin-bottom: 0;
    }
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    margin-right: 1.25rem;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-toggler {
    border: none;
    transition: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
    .header-logo-img {
        width: 160px;
    }

    .header-logo a {
        width: 160px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .header-logo-img {
        width: 200px;
    }

    .header-logo a {
        width: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-logo-img {
        width: 200px;
    }

    .header-logo a {
        width: 200px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header-logo-img {
        width: 220px;
    }

    .header-logo a {
        width: 220px;
    }
}

@media screen and (min-width: 1201px) {
    .header-logo-img {
        width: 220px;
    }

    .header-logo a {
        width: 220px;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.header-description {
    display: flex;
    max-width: 40%;
    color: #ffffff;
    margin-top: 150px;
}

@media screen and (max-width: 767px) {
    .header-description {
        max-width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header-description {
        max-width: 70%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .header-description {
        max-width: 50%;
    }
}

.header-description p {
    line-height: 2rem;
    font-size: 1rem;
}

@media screen and (max-width: 767px){
    .header-description p {
        line-height: 1.5rem;
        font-size: 1rem;
    }
}

.page-splitter {
    width: 70%;
}

.splitter {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 80px;
}

.news-container {
    display: grid;
    justify-items: center;
    grid-auto-flow: dense;
    gap: 30px;
    margin: 0 15%;
    margin-bottom: 300px;
}

@media screen and (min-width: 300px) and (max-width: 575px){
    .news-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .news-container .news-item .news-info .news-description {
        font-size: 10px;
    }

    .news-container .news-item .news-footer {
        align-items: flex-end;
    }

    .news-container .news-item .news-footer span:first-child {
        font-size: 10px;
    }

    .news-container .news-item .news-footer span:last-child {
        font-size: 8px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .news-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .news-container .news-item .news-info .news-description {
        font-size: 12px;
    }

    .news-container .news-item .news-footer {
        align-items: flex-end;
    }

    .news-container .news-item .news-footer span:first-child {
        font-size: 12px;
    }

    .news-container .news-item .news-footer span:last-child {
        font-size: 9px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .news-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .news-container .news-item .news-info .news-description {
        font-size: 14px;
    }

    .news-container .news-item .news-footer {
        align-items: flex-end;
    }

    .news-container .news-item .news-footer span:first-child {
        font-size: 14px;
    }

    .news-container .news-item .news-footer span:last-child {
        font-size: 12px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .news-container {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .news-container .news-item .news-info .news-description {
        font-size: 15px;
    }

    .news-container .news-item .news-footer {
        align-items: flex-end;
    }

    .news-container .news-item .news-footer span:first-child {
        font-size: 15px;
    }

    .news-container .news-item .news-footer span:last-child {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .news-container {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .news-container .news-item .news-info .news-description {
        font-size: 16px;
    }

    .news-container .news-item .news-footer {
        align-items: flex-end;
    }

    .news-container .news-item .news-footer span:first-child {
        font-size: 16px;
    }

    .news-container .news-item .news-footer span:last-child {
        font-size: 16px;
    }
}

@media screen and (min-width: 1601px) {
    .news-container {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }

    .news-container .news-item .news-info .news-description {
        font-size: 18px;
    }

    .news-container .news-item .news-footer {
        align-items: flex-end;
    }

    .news-container .news-item .news-footer span:first-child {
        font-size: 18px;
    }

    .news-container .news-item .news-footer span:last-child {
        font-size: 18px;
    }
}

.news-container .news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    margin: 0;
    padding: 0;
}

.news-container .news-item figure {
    position: relative;
}

.news-container .news-item figcaption {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.news-container .news-item .news-description {
    color: #ffffff;
    margin: 0 5px;
}

.news-container .news-item .news-info{
    margin-bottom: 50px;
}

.news-container .news-item .news-footer {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px;
}

footer {
    background-color: #001f31;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-footer {
    border: none;
}

@media screen and (max-width: 768px) {
    .footer-logo-img {
        width: 5.0rem;
        margin-top: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .footer-logo-img {
        width: 7.0rem;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1201px) {
    .footer-logo-img {
        width: 9.0rem;
        margin-top: 30px;
    }
}

.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-socials .social-item img {
    display: block;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .footer-socials {
        width: 40%;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px){
    .footer-socials {
        width: 30%;
    }
}

@media screen and (min-width: 641px) {
    .footer-socials {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .footer-socials {
        margin: 10px 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .footer-socials {
        margin: 20px 0;
    }
}

@media screen and (min-width: 1201px) {
    .footer-socials {
        margin: 30px 0;
    }
}

@media screen and (max-width: 1200px) {
    .footer-socials .social-item {
        margin-right: 20px;
    }

    .footer-socials .social-item:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 1201px) {
    .footer-socials .social-item {
        margin-right: 30px;
    }

    .footer-socials .social-item:last-child {
        margin-right: 0;
    }
}

.copyright {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .copyright {
        font-size: 10px;
    }
}

@media screen and (min-width: 501px) and (max-width: 992px) {
    .copyright {
        font-size: 13px;
    }
}

@media screen and (min-width: 993px) {
    .copyright {
        font-size: 16px;
    }
}

@font-face {
    font-family: "CubicEmpireRE";
    src: url("fonts/cere.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}